body {
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    padding-top: 50px;
    position: relative;
}

.photo-gonins {
    padding-top: 20px;
}

.texte-gonins {
    text-align: justify;
}

.thumbnails {
    margin-left: 0;
}

thead {
    background-color: #EEEEEE
}

.galery-modal-body {
    max-height: 1024px;
}

.galery-modal {
    width: 960px;
    margin-left: -480px;
}

