.container {
    max-width: 940px;
}

body {
    font-family: 'Istok Web', sans-serif;
    font-size: 150%;
    padding-top: 30px;
}

#main-photo {
    padding-top: 20px;
}

#main-text {
    text-align: justify;
}

#calendar {
    margin-top: 20px;
}

#calendar-head {
    background-color: #EEEEEE;
}

.thumbnails {
    margin-left: 0;
}

.galery-modal-body {
    max-height: 1024px;
}

.galery-modal {
    width: 960px;
    margin-left: -480px;
}

#map-zoom-button {
    position: relative;
    left: 8px;
    top: -30px;
}

#mascot {
    position: absolute;
    visibility: hidden;
}

#hot-corner {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    border-top-left-radius: 100%;
}

.map-iframe img {
    border: 1px solid #000000;
}