body {
    padding-top: 60px;
    position: relative;
}

h1 {
    padding-bottom: 30px;
}

.photo-gonins  {
    padding-top: 30px;
}

.texte-gonins  {
    text-align: justify;
}

.fused-cal-cell {
    text-align: center;
}

thead {
    background-color: #EEEEEE
}