<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Calendrier <small>2013-2014</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10 offset2">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Équipe</th>
                <th>Stade</th>
                <th>Responsable</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="match in matchs">
                <td>{{match.date}}</td>
                <td>{{match.equipe}}</td>
                <td>{{match.stade}}</td>
                <td>{{match.responsable}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
