<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Nous Rencontrer</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span3">
        <address>
            <strong>ASCM Gonin'Boys</strong><br>
            3, Impasse Gaston Genin<br>
            31400 Toulouse<br>
            <a href="mailto:gonins.contact@ml.free.fr"><i class="icon-envelope"></i> Envoyer un message</a><br>
        </address>
        <img src="img/Porte.png" alt="" class="img-polaroid">
    </div>
    <div class="span9">
        <iframe id="map" width="100%" height="601" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="http://www.openstreetmap.org/export/embed.html?bbox=1.48082,43.57215,1.48746,43.57532&amp;layer=mapnik&amp;marker=43.57404,1.48519">
        </iframe>
        <button id="map-zoom-button" class="btn btn-mini btn-primary" type="button" ng-click="zoom()">
            <i class="icon-fullscreen"></i> Agrandir
        </button>
    </div>
</div>
