<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Galerie</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="thumbnails">
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/1-300x225.png" data-image="img/1.png" data-index="1"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/2-300x225.png" data-image="img/2.png" data-index="2"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/3-300x225.png" data-image="img/3.png" data-index="3"></li>
        </ul>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/4-300x225.png" data-image="img/4.png" data-index="4"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/5-300x225.png" data-image="img/5.png" data-index="5"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/6-300x225.png" data-image="img/6.png" data-index="6"></li>
        </ul>
    </div>
    <div class="row">
        <ul class="thumbnails">
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/7-300x200.png" data-image="img/7.png" data-index="7"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/8-300x169.png" data-image="img/8.png" data-index="8"></li>
        </ul>
    </div>
</div>

