<div class="row">
    <div class="span4"><h1>Galerie</h1></div>
</div>

<div class="row">
    <ul class="thumbnails">
        <li class="goThumbnail" title="Malte 2010 avec les «Marauders»" data-thumb="img/1-300x225.png" data-image="img/1.png" data-index="1"></li>
        <li class="goThumbnail" title="Malte 2010 les bus des adversaires" data-thumb="img/2-300x225.png" data-image="img/2.png" data-index="2"></li>
        <li class="goThumbnail" title="Sénégal 2008 on lézarde" data-thumb="img/3-300x225.png" data-image="img/3.png" data-index="3"></li>
    </ul>
</div>

<div class="row">
    <ul class="thumbnails">
        <li class="goThumbnail" title="Sénégal" data-thumb="img/4-300x225.png" data-image="img/4.png" data-index="4"></li>
        <li class="goThumbnail" title="Sénégal" data-thumb="img/5-300x225.png" data-image="img/5.png" data-index="5"></li>
        <li class="goThumbnail" title="Sénégal" data-thumb="img/6-300x225.png" data-image="img/6.png" data-index="6"></li>
    </ul>
</div>
<div class="row">
    <ul class="thumbnails">
        <li class="goThumbnail" title="Toulouse" data-thumb="img/7-300x200.png" data-image="img/7.png" data-index="7"></li>
        <li class="goThumbnail" title="Baléares" data-thumb="img/8-300x169.png" data-image="img/8.png" data-index="8"></li>
    </ul>
</div>

