<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>L'Album De Famille</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="thumbnails">
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/5.png" data-image="img/5.png" data-index="5"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/4.png" data-image="img/4.png" data-index="4"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/6.png" data-image="img/6.png" data-index="6"></li>
        </ul>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <div>
                <li class="span12">
                    <a class="thumbnail" href="img/Terrain.png">
                        <img ng-src="img/Terrain.png" alt="">
                    </a>
                </li>
            </div>
        </ul>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/7.png" data-image="img/7.png" data-index="7"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/1.png" data-image="img/1.png" data-index="1"></li>
            <li class="goThumbnail" title="Lorem ipsum folor sit amet" data-thumb="img/8.png" data-image="img/8.png" data-index="8"></li>
        </ul>
    </div>
</div>

