<div>
    <li class="span4">
        <a class="thumbnail" href="">
            <img src="{{thumb}}" alt="" data-toggle="modal" data-target="#{{index}}">
        </a>
    </li>
    <div id="{{index}}" class="modal hide fade galery-modal" data-keyboard="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body galery-modal-body">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <img src="{{image}}" class="img-polaroid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>