---
layout: gonins
---

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>La Saison
                <small>2013-2014</small>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="{{ site.baseurl }}/img/Pre-930x118.jpg" alt="Le pré" class="img-thumbnail img-responsive"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div  id="calendar" class="table-responsive">
            <table class="table table-bordered table-condensed">
                <thead id="calendar-head">
                <tr>
                    <th>Date</th>
                    <th>Équipe</th>
                    <th>Stade</th>
                    <th>Responsable</th>
                </tr>
                </thead>
                <tbody>
                {% for match in site.data.matchs %}
                <tr>
                    <td>{{ match.date }}</td>
                    {% if match.post %}
                    {% capture post %}{{ match.post }}{% endcapture %}
                    <td><a href="{{ site.baseurl }}/{{ post }}">{{ match.equipe }}</a></td>
                    {% else %}
                    <td>{{ match.equipe }}</td>
                    {% endif %}
                    <td>{{ match.stade }}</td>
                    <td>{{ match.responsable }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
