<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Site des Gonin'Boys</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="css/assets/bootstrap.css" media="screen" type='text/css' rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type='text/css'
          rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' type='text/css' rel='stylesheet'>
    <link href="css/gonins.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!--<a class="brand" href="#/gonins">Gonin'Boys</a>-->
            <ul class="nav">
                <li><a id="brand" class="navbar-brand" href="#/gonins">Vestiaire</a></li>
                <li><a href="#/calendrier">Calendrier</a></li>
                <li><a href="#/galerie">Photos</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div>
        {{ content }}
    </div>
</div>

<script src="js/assets/jquery.js"></script>
<script src="js/assets/bootstrap.js"></script>

</body>
</html>

